<div id="home">
  <h1><img src="./images/logo.png" alt="boxes" width="350"></h1>

  <ul>
    <li><a href="https://github.com/nickcharlton/boxes">GitHub</a></li>
    <li><a href="https://atlas.hashicorp.com/boxesio">Current Boxes</a></li>
  </ul>
</div>
